<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
   <title th:text="${title}"/>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
   <div class="wrapper">
      <div class="part1"><section class="sec1">
         <h3 class="logo" font-weight="600"><b>ARCH NEO</b></h3>

         <div class="topnav">
            <a href="active">Home</a>
            <a href="#services">Architectures</a>
            <a href="#clients">Contacts</a>
            <a href="#contact">Profile</a>
            <a href="/sign">Sign Up</a>
         </div>

         <div class="clear"></div>
      </section>

      <section class="sec2">
         <h1>INTERIOR DESIGN</h1>

         <h5>Your Favourite Online Arch Studio</h5>

         <a href="/sign">
            <input type="button" value="Get Started">
         </a>
      </section>
   </div>

   <div class="part2">
      <section class="sec3">
         <h4>SECTIONS</h4>
         <hr>
         <p>Цель данного проекта заключается в создании некого моста между архитекторами и конечными пользователми.</p>
      </section>

      <section class="sec4">
         <table>
            <tr>
               <td>
                  <img height="300px" src="https://images.unsplash.com/photo-1527576539890-dfa815648363?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80" alt="">
               </td>
               <td>
                  <img height="300px" src="https://images.unsplash.com/photo-1465804575741-338df8554e02?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80" alt="">
               </td>
               <td>
                  <img height="300px" src="https://images.unsplash.com/photo-1611816055460-618287c870bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=436&q=80" alt="">
               </td>
            </tr>
            <tr>
               <td><h4><u>ЗАДАЧИ ПРОЕКТА</u></h4></td>
               <td><h4><u>ОБЪЕМ И МАСШТАБЫ ПРОЕКТА</u></h4></td>
               <td><h4><u>КОНЦЕПТ</u></h4></td>
            </tr>
            <tr>
               <td><b>Наша платформа предоставляет для клиентов </b>
                  <BR><i>услуги архитекторов через удобную платформу.</i>
               </td>
               <td>Наша платформа будет предоставлять свои<br> услуги по всей стране с помощью <sup>веб</sup>сайта. </td>
               <td>Потребность на рынке <sub>архитектуры</sub> растет<br> с каждым годом и появляется все больше<br> и больше студий.Все услуги архитиктурного бюро <br>будут напрямую идти через нашу платформу./td>
            </tr>
         </table>
      </section>
   </div>
      
   <div class="part3">
      <section class="sec5">
         <h4>ABOUT US</h4>
         <hr style="background-color: red">
         <hr style="background-color: orange">
         <hr style="background-color: yellow">
         <hr style="background-color: green">
         <hr style="background-color: blue">
         <hr style="background-color: purple">

         <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet</p>
      </section>

      <section class="sec6">
         <div class="left">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime non accusantium neque tempora sunt ipsa hic reprehenderit pariatur culpa nostrum repellat, debitis vel repellendus temporibus, exercitationem vitae quam veniam minima!</p>
         </div>
         <div class="right">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptatem sunt accusantium saepe nemo inventore fugiat quidem? Eos ipsam, officia dignissimos nulla architecto, eius aspernatur non dolorem nobis ratione veniam!</p>
         </div>
      </section>

      <!-- <section class="sec7">
         <table>
            <tr>
               <td>
                  <img src="file:///D:/downloads/Layer_12.png" alt="">
               </td>
               <td>
                  <img src="file:///D:/downloads/Layer_13.png" alt="">
               </td>
               <td>
                  <img src="file:///D:/downloads/Layer_15.png" alt="">
               </td>
               <td>
                  <img src="file:///D:/downloads/Layer_16.png" alt="">
               </td>
            </tr>
            <tr>
               <td>
                  <h4>Md. Khalil Uddin</h4>
                  <p>Head of Ideas</p>
               </td>
               <td>
                  <h4>Rubel Miah</h4>
                  <p>Lead WordPress Developer</p>
               </td>
               <td>
                  <h4>Shamim Mia</h4>
                  <p>Sr. Web Developer</p>
               </td>
               <td>
                  <h4>John Doe</h4>
                  <p>Front-end Developer</p>
               </td>
            </tr>
         </table>
      </section>
   </div> -->

   <!-- <div class="part4">
      <section class="sec8">
         <h4>LATEST WORKS</h4>
         <hr>

         <table>
            <tr>
               <td>
                  <img src="file:///D:/downloads/3-layers.png" alt="">
               </td>
               <td>
                  <img src="file:///D:/downloads/Layer_19.png" alt="">
               </td>
               <td>
                  <img src="file:///D:/downloads/Layer_20.png" alt="">
               </td>
            </tr>
            <tr>
               <td>
                  <img src="file:///D:/downloads/Layer_21.png" alt="">
               </td>
               <td>
                  <img src="file:///D:/downloads/Layer_22.png" alt="">
               </td>
               <td>
                  <img src="file:///D:/downloads/Layer_23.png" alt="">
               </td>
            </tr>
            <tr>
               <td>
                  <img src="file:///D:/downloads/Layer_25.png" alt="">
               </td>
               <td>
                  <img src="file:///D:/downloads/Layer_26.png" alt="">
               </td>
               <td>
                  <img src="file:///D:/downloads/Layer_24.png" alt="">
               </td>
            </tr>
         </table>
      </section>
   </div>

   <div class="part5">
      <section class="sec9">
         <h2>Do you like OUR WORK so far?</h2>
         <h1>Let's talk about YOUR PROJECT!</h1>

         <input type="button" value="GET IN TOUCH">
      </section>
   </div>

   <div class="part6">
      <section class="sec10">
         <h4>RECENT BLOG POSTS</h4>
         <hr>
      </section>
      <section class="sec11">
         <div class="sec11left">
            <img src="file:///D:/downloads/Layer_28.png" alt="">
         </div>
         <div class="sec11right">
            <div class="lleft"><img src="file:///D:/downloads/2-layers%20(4).png" alt=""></div>
            <div class="rright">
               <h4>STARTUP IDEAS NEEDS TO BE FUNDED</h4>
               <h5><i>By <b>Khalil</b> in Development</i></h5>
            </div>
            <div class="clear"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore officia voluptatem maiores commodi nesciunt saepe, temporibus, consequuntur itaque a corrupti esse tenetur velit id quod illum eaque nobis unde similique.</p>
            <p style="color: brown;"><b>READ MORE</b></p>
            
         </div>
      </section>
      <div class="clear"></div>
   </div>
   
   <div class="part7">
      <section class="sec12">
      </section>
      <section class="sec12">
         <div class="sec12left">
            <img src="file:///D:/downloads/Layer_27.png" alt="">
         </div>
         <div class="sec12right">
            <div class="llleft"><img src="file:///D:/downloads/2-layers%20(4).png" alt=""></div>
            <div class="rrright">
               <h4>USER INTERFACE DESIGNING ELEMENTS</h4>
               <h5><i>By <b>Khalil</b> in Development</i></h5>
            </div>
            <div class="clear"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore officia voluptatem maiores commodi nesciunt saepe, temporibus, consequuntur itaque a corrupti esse tenetur velit id quod illum eaque nobis unde similique.</p>
            <p style="color: brown;"><b>READ MORE</b></p>
            
         </div>
      </section>
      <div class="clear"></div>
   </div>

   <div class="part8">
      <section class="sec13">
         <table>
            <tr>
               <td>
                  <img src="file:///D:/downloads/Layer_30.png" alt="">
               </td>
               <td>
                  <img src="file:///D:/downloads/Layer_31.png" alt="">
               </td>
               <td>
                  <img src="file:///D:/downloads/Layer_33.png" alt="">
               </td>
               <td>
                  <img src="file:///D:/downloads/Layer_32.png" alt="">
               </td>
               <td>
                  <img src="file:///D:/downloads/Layer_34.png" alt="">
               </td>
            </tr>
         </table>
         <p>Having place at facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum”</p>
         <h4>John Doe, Google Inc.</h4>
      </section>
   </div>

   <div class="part9">
      <section class="sec14">
         <h4>GET IN TOUCH</h4>
         <hr>
         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
      </section>
      <section class="sec15">
         <div class="t1">
            <ul>
               <li><h4>ADDRESS</h4></li>
               <li>312, 7th Ave, New York<br/>NY 101200, United States of America</li>
               <li><h4>HOTLINE (24x7)</h4></li>
               <li>+65 0052 300, +65 88251 210<br/>+88 01723 511 340</li>
               <li><h4>E-MAIL</h4></li>
               <li>shapedtheme@gmail.com<br/>khalilkode@gmail.com</li>
            </ul>
         </div>
         <div class="t2">
            <div class="tt1">
               <input type="text" value="YOUR NAME">
            </div>
            <div class="tt2">
               <input type="text" value="YOUR E-MAIL">
            </div>
            <div class="clear"></div>
         </div>
         
         <div class="t3">
            <div class="tt3">
               <input type="text" value="YOUR SUBJECT">
            </div>
            <div class="tt4">
               <input type="text" value="COMPANY NAME">
            </div>
         </div>

         <div class="t4">
            <input type="text" value="WRITE TOUR MESSAGE">
         </div>

         <div class="t5">
            <div class="tt5">
               <input type="button" value="SEND MESSAGE">
            </div>
            <div class="tt6">
               <p>* We’ll contact you as as possible. We don’t reply on Monday.</p>
            </div>
            <div class="clear"></div>
         </div>
      </section>
   </div>
   <div class="clear"></div>

   <div class="part10">
      <section class="sec16">
         <p>.</p>
         <table>
            <tr>
               <td>
                  <img src="file:///D:/downloads/2-layers%20(5).png" alt="">
               </td>
               <td>
                  <img src="file:///D:/downloads/2-layers%20(5).png" alt="">
               </td>
               <td>
                  <img src="file:///D:/downloads/2-layers%20(5).png" alt="">
               </td>
               <td>
                  <img src="file:///D:/downloads/2-layers%20(5).png" alt="">
               </td>
            </tr>
         </table>
         <hr>
         <h5>© 2015 Startup, Designed by ShapedTheme</h5>
         <p>.</p>
      </section>
   </div> -->

   </div>
   </div>
</body>
</html>