<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${title}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
<div class="form_wrapper">
    <div class="form_container" th:method="post">
        <div class="title_container">
            <h2>SignUp Form</h2>
        </div>
        <div class="row clearfix">
            <div class="">
                <form method="post">
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="text" name="first_name" placeholder="First name"/>
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="text" name="last_name" placeholder="Last name"/>
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="text" name="bio" placeholder="Bio"/>
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="date" name="birth" placeholder="Birth date"/>
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="text" name="university" placeholder="University"/>
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="text" name="price" placeholder="Price"/>
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="text" name="experience" placeholder="Experience"/>
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>>
                        <label for="avatarFile">Select an image: </label>
                        <input type="file" id="avatarFile"/>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <textarea id="textAreaExample" name="photo" rows="30" cols="50" style="display:none;"></textarea>
                            </div>
                        </div>
                    </div>
                    <script>
                        const input = document.getElementById("avatarFile");
                        const textArea = document.getElementById("textAreaExample");

                        const convertBase64 = (file) => {
                            return new Promise((resolve, reject) => {
                                const fileReader = new FileReader();
                                fileReader.readAsDataURL(file);

                                fileReader.onload = () => {
                                    resolve(fileReader.result);
                                };

                                fileReader.onerror = (error) => {
                                    reject(error);
                                };
                            });
                        };

                        const uploadImage = async (event) => {
                            const file = event.target.files[0];
                            const base64 = await convertBase64(file);
                            textArea.innerText = base64;
                        };

                        input.addEventListener("change", (e) => {
                            uploadImage(e);
                        });
                    </script>
                    <input class="button" type="submit" value="Save" />
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>