<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${title}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
<div class="form_wrapper">
    <div class="form_container" th:method="post">
        <div class="title_container">
            <h2>Edit Form</h2>
        </div>
        <div class="row clearfix" th:each="card : ${cards}">
            <div class="">
                <form method="post">
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="text" name="first_name" th:value="${card.getFirstName()}" placeholder="First name"/>
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="text" name="last_name" th:value="${card.getLastName()}" placeholder="Last name"/>
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="text" name="bio" th:value="${card.getBio()}" placeholder="Bio"/>
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="date" name="birth" th:value="${card.getBirth()}" placeholder="Birth date"/>
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="text" name="university" th:value="${card.getUniversity()}" placeholder="University"/>
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="text" name="price" th:value="${card.getPriceDB()}" placeholder="Price"/>
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="text" name="photo" th:value="${card.getPhoto()}" placeholder="Photo"/>
                    </div>
                    <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                        <input type="text" name="experience" th:value="${card.getExperience()}" placeholder="First name"/>
                    </div>
                    <input class="button" type="submit" value="Save" />
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>