<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${title}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
<div class="wrapper">

    <div class="part2">

        <div th:each="card : ${cards}" id="container">

            <div class="product-details">

                <p th:text="${card.getFIO()}"/>

                <p th:text="${card.getBio()}"/>

                <p class="price" th:text="${card.getPrice()}"/>

                <div class="control">

                    <button class="btn">
                        <span class="buy"><a th:href="'/card/' + ${card.getId()} + '/edit'">Редактировать</a></span>
                    </button><br><br>
                    <button class="btn">
                        <span class="buy"><a th:href="'/card/' + ${card.getId()} + '/remove'">Удалить</a></span>
                    </button>

                </div>

            </div>

            <div class="product-image">

                <img th:src="${card.getPhoto()}" alt="">


                <div class="info">
                    <ul>
                        <li><strong>Возраст: </strong><span th:text="${card.getAge()}"/> лет </li>
                        <li><strong>Образование: </strong><span th:text="${card.getUniversity()}"/></li>
                        <li><strong>Опыт: </strong><span th:text="${card.getExperience()}"/> год(а)</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

</div>
</body>
</html>